<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <div class="card-title">
                <p class="h4">College Registration</p>
              </div>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div
                      class="border"
                      style="height: 250px; width: 250px; border-radius: 50%"
                    ></div>
                  </div>
                  <div class="col-md-8">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="First Name" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input matInput placeholder="Last Name" />
                    </mat-form-field>
                    <div class="col-md-12 m-0 p-0">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Mobile No.</mat-label>
                            <input matInput placeholder="Mobile No." />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Alternate No.</mat-label>
                            <input matInput placeholder="Alternate No." />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="Email" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Address 1</mat-label>
                      <input matInput placeholder="Address 1" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Address 2</mat-label>
                      <input matInput placeholder="Address 2" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Pin Code</mat-label>
                      <input matInput placeholder="Pin Code" />
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline">
                      <mat-label>Image</mat-label>
                      <input type="file" placeholder="Image" />
                    </mat-form-field> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- "mpCodeId": 7, "mpFirstName": "sed", "mpLastName": "asdasd", "mpMobileNo":
645334, "mpAlternateMobileNo": 56131, "mpEmailId": "awsada@gmail.com",
"mpAddress1": "sd", "mpAddress2": "strisfdfng", "mpPinCode": 125332, "mpImage":
"sdsa", "mpIsActive": false -->
