<h1 mat-dialog-title>Add Type</h1>
<div mat-dialog-content>
  <form #typeForm="ngForm" id="typeForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" name="mTypeName"[(ngModel)]="typeData.mTypeName">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Serial No</mat-label>
        <input type="number" matInput placeholder="Name" name="mTypeSerialNo"[(ngModel)]="typeData.mTypeSerialNo">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Program Type</mat-label>
        <input type="text" matInput placeholder="Name" name="mTypeProgramType"[(ngModel)]="typeData.mTypeProgramType">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Type Of College</mat-label>
        <input type="text" matInput placeholder="Name" name="mTypeTypeofCollege"[(ngModel)]="typeData.mTypeTypeofCollege">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Course Type</mat-label>
        <input type="text" matInput placeholder="Name" name="mTypeCourseType"[(ngModel)]="typeData.mTypeCourseType">
      </mat-form-field>
    </p>

    <mat-radio-group aria-label="Status" name="mTypeIsActive" [(ngModel)]="typeData.mTypeIsActive">
      <mat-radio-button [value]="true">Enable</mat-radio-button>
      <mat-radio-button [value]="false" class="ml-3">Disable</mat-radio-button>
    </mat-radio-group>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-dialog-close (click)="update()">Add</button>
</div>


