<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                  <button class="btn btn-lg btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Add</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="addTypeDetail('stream')">Stream</a>
                    <a class="dropdown-item" (click)="addTypeDetail('substream')" >Sub-Stream</a>
                    <a class="dropdown-item" (click)="addTypeDetail('course')" >Course</a>
                    <a class="dropdown-item" (click)="addTypeDetail('specialization')" >Specialization</a>
                </div>         
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Streams</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="height: 650px;overflow-y: scroll;">
                            <table class="table text-center">
                                <thead class=" text-primary">
                                    <th>Sr.No</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sd of streamData;let i=index">
                                        <td>{{i+1}}</td>   
                                        <td>{{sd.mtdName}}</td>   
                                        <td>{{sd.mtdIsActive}}</td>   
                                        <td>
                                            <i class="fa fa-pencil-square-o" 
                                            (click)="getTypeDetail(sd.mtdId)"></i>
                                            <i class="fa fa-times" 
                                            (click)="deleteTypeDetail(sd.mtdId)"></i>
                                        </td>   
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Courses</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="height: 650px;overflow-y: scroll;">
                            <table class="table text-center">
                                <thead class=" text-primary">
                                    <!-- <th>Id</th> -->
                                    <th>Sr.No</th>
                                    <th>Name</th>
                                    <!-- <th>Parent Name</th> -->
                                    <!-- <th>Type Name</th> -->
                                    <th>Status</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cd of courseData;let i=index">
                                        <td>{{i+1}}</td>   
                                        <!-- <td>{{cd.mtdSrNo}}</td>    -->
                                        <td>{{cd.mtdName}}</td>   
                                        <!-- <td>{{cd.mtdParentName}}</td>    -->
                                        <!-- <td>{{cd.mtdTypeName}}</td>    -->
                                        <td>{{cd.mtdIsActive}}</td>   
                                        <td>
                                            <i class="fa fa-pencil-square-o" 
                                            (click)="getTypeDetail(cd.mtdId)"></i>
                                            <i class="fa fa-times" 
                                            (click)="deleteTypeDetail(cd.mtdId)"></i>
                                        </td>   
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Specializations</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class=" text-primary">
                                    <th>Sr.No</th>
                                    <th>Name</th>
                                    <!-- <th>Type Name</th> -->
                                    <th>Parent Name</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tpd of specializationData;let i=index">
                                        <td>{{i+1}}</td>   
                                        <!-- <td>{{tpd.mtdSrNo}}</td>    -->
                                        <td>{{tpd.mtdName}}</td>   
                                        <!-- <td>{{tpd.mtdTypeName}}</td>    -->
                                        <td>{{tpd.mtdParentName}}</td>   
                                        <td>{{tpd.mtdIsActive}}</td>   
                                        <td>
                                            <i class="fa fa-pencil-square-o" 
                                            (click)="getTypeDetail(tpd.mtdId)"></i>
                                            <i class="fa fa-times" 
                                            (click)="deleteTypeDetail(tpd.mtdId)"></i>
                                        </td>   
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

