<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Streams</h4>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class=" text-primary">
                                    <th>Id</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>SerialNo</th>
                                    <th>ParentId</th>
                                    <th>IsActive</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let st of Streams">
                                        <td>{{st.mStreamsId}}</td>   
                                        <td>{{st.mStreamsCode}}</td>   
                                        <td>{{st.mStreamsName}}</td>   
                                        <td>{{st.mStreamsType}}</td>   
                                        <td>{{st.mStreamsSerialNo}}</td>   
                                        <td>{{st.mStreamsParentId}}</td>   
                                        <td>{{st.mStreamsIsActive}}</td>   
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


