<div class="logo">
    <a routerLink="['master']" class="simple-text">
        Education Portal
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">

       
        <!-- Dashboard -->
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['dashboard']">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>

        <!-- Master -->
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link cursor-pointer" (click)="showDrop()">
                <i class="material-icons">person</i>
                <p>Master</p>
            </a>
        </li>
        <div id="dropdownContent" class="dropdown-menu-1" style="display: none;">
            <a class="dropdown-item" [routerLink]="['master/location']" routerLinkActive="active">Location</a>
            <a class="dropdown-item" [routerLink]="['master/streams']" routerLinkActive="active">Streams</a>
            <a class="dropdown-item" [routerLink]="['master/type']" routerLinkActive="active">Type</a>
            <a class="dropdown-item" [routerLink]="['master/type-details']" routerLinkActive="active">Type Details</a>
        </div>

         <!-- Other -->
         <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <!-- Log Out -->
        <li  class="nav-item">
            <a class="nav-link cursor-pointer" (click)="LogOut()" >
                <i class="material-icons">dashboard</i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>
