<div class="logo">
    <a routerLink="['master']" class="simple-text">
        Education Portal
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <!-- Master -->
        <li id="dropdownBtn" style="cursor: pointer;">
            <a class="nav-link" >
                <i class="material-icons">person</i>
                <p>Master</p>
            </a>
        </li>
          <div id="dropdownContent" class="dropdown-menu-1" style="display: none;">
            <a class="dropdown-item" [routerLink]="['location']" routerLinkActive="active">Location</a>
            <a class="dropdown-item" [routerLink]="['streams']" routerLinkActive="active">Streams</a>
            <a class="dropdown-item" [routerLink]="['type']" routerLinkActive="active">Type</a>
            <a class="dropdown-item" [routerLink]="['type-details']" routerLinkActive="active">Type Details</a>
          </div>


        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
