<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div>
          <button class="btn btn-danger btn-lg" (click)="addType()">
            Add Type
          </button>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Type</h4>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table text-center">
                <thead class="text-primary">
                  <th>S.No</th>
                  <th>Name</th>
                  <!-- <th>Serial No</th> -->
                  <th>Status</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let tp of Types; let i = index">
                    <!-- <td>{{ i + 1 }}</td> -->
                    <td>{{ tp.mTypeSerialNo }}</td>
                    <td>{{ tp.mTypeName }}</td>
                    <td>{{ tp.mTypeIsActive }}</td>
                    <td>
                      <i
                        class="fa fa-pencil-square-o"
                        (click)="getType(tp.mTypeId)"
                      ></i>
                      <i
                        class="fa fa-times"
                        (click)="deleteType(tp.mTypeId)"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
